* @qwrtln
/.github/ @qwrtln
/assets/ @qwrtln @Re4XN @tomaas-zeman @tyson-heckert
/campaigns/ @Re4XN @tomaas-zeman @qwrtln @tyson-heckert
/clash/ @Re4XN @tomaas-zeman @qwrtln @tyson-heckert
/coops/ @Re4XN @tomaas-zeman @qwrtln @tyson-heckert
/templates/ @tomaas-zeman @qwrtln @tyson-heckert
README.md @qwrtln
main_en.tex @qwrtln @tomaas-zeman @tyson-heckert
metadata.tex @qwrtln
po4a.cfg @qwrtln @tomaas-zeman @tyson-heckert

# Polish
**/pl.po @qwrtln
/translations/assets/pl/ @qwrtln
main_pl.tex @qwrtln

# Czech
**/cs.po @tomaas-zeman @qwrtln @tyson-heckert
/translations/assets/cs/ @tomaas-zeman @qwrtln @tyson-heckert
main_cs.tex @tomaas-zeman @qwrtln @tyson-heckert
