* @qwrtln
/.github/ @qwrtln
/assets/ @qwrtln @Re4XN @tomaas-zeman @tyson-heckert
/campaigns/ @Re4XN @tomaas-zeman @qwrtln @tyson-heckert
/clash/ @Re4XN @tomaas-zeman @qwrtln @tyson-heckert
/coops/ @Re4XN @tomaas-zeman @qwrtln @tyson-heckert
/templates/ @tomaas-zeman @qwrtln @tyson-heckert
/sections/ @qwrtln
/draft-scenarios/ @qwrtln @Laamakala
README.md @qwrtln
main_en.tex @qwrtln @tomaas-zeman @tyson-heckert
metadata.tex @qwrtln
structure.tex @qwrtln
po4a.cfg @qwrtln @tomaas-zeman @tyson-heckert

# Polish
**/pl.po @qwrtln
/translations/assets/pl/ @qwrtln
main_pl.tex @qwrtln

# Czech
**/cs.po @tomaas-zeman @qwrtln
/translations/assets/cs/ @tomaas-zeman @qwrtln
main_cs.tex @tomaas-zeman @qwrtln

# French
**/fr.po @qwrtln @Legrecofr
/translations/assets/fr/ @qwrtln @Legrecofr
main_fr.tex @qwrtln @Legrecofr

# German
**/de.po @qwrtln @mrzielscheibe
/translations/assets/de/ @qwrtln @mrzielscheibe
main_de.tex @qwrtln @mrzielscheibe

# Russian
**/ru.po @qwrtln @elsakovsanya1996-beep @DarthGandalf
/translations/assets/ru/ @qwrtln @elsakovsanya1996-beep @DarthGandalf
main_ru.tex @qwrtln @elsakovsanya1996-beep @DarthGandalf
