*.pdf
!assets/glyphs-inkscape/*.pdf
**.aux
*.bbl
*.blg
*.csv
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.mo
*.out
*.synctex(busy)
*.synctex.gz
*.toc
.env
.idea/
.venv
.vs
cache
campaigns/translated
clash/translated
coops/translated
screenshots/
sections/translated
**/svg-inkscape/*
.wrangler/
node_modules/
playwright-report/
test-results/
