translations/**/*.po linguist-generated=true
translations/**/*.pot linguist-generated=true

assets/glyphs-inkscape/** -diff linguist-generated=true
draft-scenarios/svg-inkscape/** -diff linguist-generated=true
*.pdf_tex -diff linguist-generated=true
