site_name: Fan-Made Mission Book Docs
site_url: https://qwrtln.github.io/Homm3BG-mission-book/
theme:
  name: material
  features:
    - content.code.copy
    - navigation.instant
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  logo: assets/logo.png
repo_url: https://github.com/qwrtln/Homm3BG-mission-book
repo_name: Fan-Made Mission Book
nav:
  - Local Setup: index.md
  - Writing Scenarios: scenarios.md
  - Using Scripts: scripts.md
markdown_extensions:
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
