name: Build and Publish

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

env:
  ARTIFACT_RETENTION_DAYS: 1
  GHOSTSCRIPT_URL: https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs10030/gs_10.03.0_amd64_snap.tgz
  IMAGEMAGICK_URL: https://github.com/ImageMagick/ImageMagick/releases/download/7.1.1-46/ImageMagick-8209e84-gcc-x86_64.AppImage
  PO4A_GH_URL: https://github.com/mquinson/po4a/releases/download
  PO4A_VERSION: "0.73"

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      number_of_pages: ${{ steps.check_pages.outputs.num_of_pages }}
    strategy:
      fail-fast: false
      matrix:
        language: ["en", "pl", "cs", "fr", "de"]

    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Generate translations for ${{ matrix.language }}
        if: ${{ matrix.language != 'en' }}
        run: |
          sudo apt-get install -y po4a  # required as standalone po4a is missing some deps
          wget --quiet ${{ env.PO4A_GH_URL }}/v${{ env.PO4A_VERSION }}/po4a-${{ env.PO4A_VERSION}}.tar.gz  # sadly the version from apt isn't working
          export PO4A_DIR="po4a-${{ env.PO4A_VERSION }}"
          tar -xf ${PO4A_DIR}.tar.gz
          export PERL5LIB="${PO4A_DIR}/lib:${PERL5LIB}"
          ./${PO4A_DIR}/po4a --no-update po4a.cfg

      - name: Compile mission book
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_use_lualatex: true
          latexmk_shell_escape: true
          pre_compile: export HOMM3_GITHUB_BUILD=1
          root_file: main_${{ matrix.language }}.tex

      - name: Install ghostscript
        run: |
          echo ${{ env.GHOSTSCRIPT_URL }}
          wget --quiet ${{ env.GHOSTSCRIPT_URL }}
          tar -xvf *_amd64_snap.tgz
          sudo snap install ./*_amd64_snap/*_amd64.snap --devmode

      - name: Optimize PDF
        run: |
          du -sh main_${{ matrix.language }}.pdf
          tools/optimize.sh ${{ matrix.language }}
          mv main_${{ matrix.language }}_optimized.pdf main_${{ matrix.language }}.pdf
          du -sh main_${{ matrix.language }}.pdf

      - uses: actions/upload-artifact@v4
        with:
          name: main_${{ matrix.language }}
          path: main_${{ matrix.language }}.pdf
          retention-days: ${{ env.ARTIFACT_RETENTION_DAYS }}

      - name: Install poppler
        if:  github.event_name == 'pull_request'
        run: sudo apt-get update && sudo apt-get install -y poppler-utils

      - name: Check number of pages
        id: check_pages
        if: ${{ matrix.language == 'en' && github.event_name == 'pull_request' }}
        run: |
          NUM_OF_PAGES=$(pdfinfo main_${{ matrix.language }}.pdf | awk '/^Pages:/ {print $2}')
          echo "NUM_OF_PAGES=${NUM_OF_PAGES}" >> "$GITHUB_OUTPUT"

      - name: Check for broken CMap
        if: github.event_name == 'pull_request'
        run: |
          QUOTE=$(grep "intro" main_${{ matrix.language }}.tex -A2 | tail -1 | awk '{$1=$1};1')
          pdftotext main_${{ matrix.language }}.pdf - | tr '\n' ' ' > main_${{ matrix.language }}.txt
          if grep -iq "$QUOTE" main_${{ matrix.language }}.txt
          then
            echo "All good"
          else
            echo "The CMap in main_${{ matrix.language }}.pdf file is broken. See the output of 'Optimize PDF' step above."
            exit 1
          fi

  find_map_files:
    runs-on: ubuntu-latest
    # if: github.event_name != 'pull_request'
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Find map files
        id: set-matrix
        run: |
          IMAGES=$(find . -type f -name "*tex" -not -regex ".*/\(draft-scenarios\|translated\|svg-inkscape\|templates\)/.*" -exec grep -Po "maps[^}]*\.png" '{}' \; | sort | uniq | sed 's|maps/||')
          echo "matrix=$(echo "$IMAGES" | jq -R -s -c 'split("\n") | map(select(length > 0)) | {map: .}')" >> $GITHUB_OUTPUT

  make_maps_monochrome:
    needs: find_map_files
    runs-on: ubuntu-latest
    name: Convert ${{ matrix.map }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.find_map_files.outputs.matrix) }}
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Install magick
        run: |
          sudo add-apt-repository universe
          sudo apt-get install -qq -y --no-install-recommends libfuse2t64  # FUSE is required for GH runners to run AppImages
          # apt has v6, while v7 is required, hence downloading AppImage
          wget --quiet ${{ env.IMAGEMAGICK_URL }}
          find . -name "ImageMagick*" -exec chmod +x '{}' \; -exec mv '{}' /usr/local/bin/magick \;

      - name: Process map file
        run: tools/to_monochrome.sh "assets/maps/${{ matrix.map }}"

      - name: Upload processed file
        uses: actions/upload-artifact@v4
        with:
          name: monochrome-map-${{ hashFiles(format('assets/maps/{0}', matrix.map)) }}
          path: assets/maps/${{ matrix.map }}
          retention-days: ${{ env.ARTIFACT_RETENTION_DAYS }}

  build_monochrome:
    needs: [make_maps_monochrome]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: ["en", "pl", "cs", "fr", "de"]

    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Generate translations for ${{ matrix.language }}
        if: ${{ matrix.language != 'en' }}
        run: |
          sudo apt-get install -y po4a  # required as standalone po4a is missing some deps
          wget --quiet ${{ env.PO4A_GH_URL }}/v${{ env.PO4A_VERSION }}/po4a-${{ env.PO4A_VERSION}}.tar.gz  # sadly the version from apt isn't working
          export PO4A_DIR="po4a-${{ env.PO4A_VERSION }}"
          tar -xf ${PO4A_DIR}.tar.gz
          export PERL5LIB="${PO4A_DIR}/lib:${PERL5LIB}"
          ./${PO4A_DIR}/po4a --no-update po4a.cfg

      - name: Download monochrome maps
        uses: actions/download-artifact@v4
        with:
          pattern: monochrome-map-*
          path: assets/maps
          merge-multiple: true

      - name: Compile monochrome mission book
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_use_lualatex: true
          latexmk_shell_escape: true
          pre_compile: export HOMM3_GITHUB_BUILD=1 HOMM3_NO_ART_BACKGROUND=1
          root_file: main_${{ matrix.language }}.tex

      - name: Install ghostscript
        run: |
          echo ${{ env.GHOSTSCRIPT_URL }}
          wget --quiet ${{ env.GHOSTSCRIPT_URL }}
          tar -xvf *_amd64_snap.tgz
          sudo snap install ./*_amd64_snap/*_amd64.snap --devmode

      - name: Optimize PDF
        run: |
          du -sh main_${{ matrix.language }}.pdf
          tools/optimize.sh ${{ matrix.language }}
          mv main_${{ matrix.language }}_optimized.pdf main_${{ matrix.language }}.pdf
          du -sh main_${{ matrix.language }}.pdf

      - name: Move file
        run: |
          mkdir ${{ matrix.language }}
          mv main_${{ matrix.language }}.pdf ${{ matrix.language }}/main_${{ matrix.language }}-mono.pdf

      - name: Download compiled book
        uses: actions/download-artifact@v4
        with:
          name: main_${{ matrix.language }}
          path: ${{ matrix.language }}

      - name: Check
        run: ls -l ${{ matrix.language }}

      # - name: Publish ${{ matrix.language }} in artifacts repository
      #   uses: peaceiris/actions-gh-pages@v4
      #   with:
      #     deploy_key: ${{ secrets.SSH_DEPLOY_KEY_BUILD_ARTIFACTS }}
      #     external_repository: qwrtln/Homm3BG-mission-book-build-artifacts
      #     publish_branch: ${{ matrix.language }}
      #     publish_dir: ./${{ matrix.language }}
      #     force_orphan: true


  check_pages:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'pull_request'
    strategy:
      fail-fast: false
      matrix:
        language: ["pl", "cs", "fr", "de"]

    steps:
      - name: Install poppler
        run: |
          sudo apt-get install -y poppler-utils

      - name: Download PDFs
        uses: actions/download-artifact@v4
        with:
          pattern: "*_${{ matrix.language }}"

      - name: Check number of pages in digital version
        run: |
          file main_${{ matrix.language }}/main_${{ matrix.language }}.pdf
          ACTUAL_NUM_OF_PAGES=$(pdfinfo main_${{ matrix.language }}/main_${{ matrix.language }}.pdf | awk '/^Pages:/ {print $2}')
          echo "Expected number of pages: ${{ needs.build.outputs.number_of_pages }}"
          echo "Actual number of pages:   ${ACTUAL_NUM_OF_PAGES}"
          if [[ ${{ needs.build.outputs.number_of_pages }} != ${ACTUAL_NUM_OF_PAGES} ]]; then
            echo "The digital document in ${{ matrix.language }} language doesn't have correct number of pages. See the output above."
            exit 1
          fi
