name: Check capitalization

on:
  pull_request:
    branches: [main]

jobs:
  tablint:
    runs-on: ubuntu-latest
    name: Check capitalization
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Find wrong caps
        shell: bash
        run: |
          ERRORS=0
          WORDS=("deck" "faction" "field" "hero" "level" "round" "scenario" "tile" "unit")
          for file in $(git grep -Il '' | grep tex$)
          do
            for word in ${WORDS[@]}
            do
              if grep -qP "\s$word" $file; then
                echo ""
                echo "Found $word instead of ${word^} in $file:"
                grep -nHP "\s$word" $file
                ERRORS=1
              fi
            done
          done


          if [[ $ERRORS == 1 ]]; then
            echo ""
            echo "Some words are not capitalized correctly. Please fix them."
            exit 1
          fi
