name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'tools/container/**'
      - '.github/workflows/publish-container.yaml'
  pull_request:
    branches:
      - main
    paths:
      - 'tools/container/**'
      - '.github/workflows/publish-container.yaml'
  schedule:
    - cron: '17 3 1 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: tools/container
          file: ./tools/container/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/homm3bg:latest
